@* DUONG KHANH DIEM - 2021050130 *@
@model IEnumerable<DemoMVC.Models.Person>

@{
  ViewData["Title"] = "Index";
}
<h1 class="container teal">Index</h1>

<p>
  <a asp-action="Create" class="button black container margin">Create New</a>
</p>
<table class="table">
  <thead class="border">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.FullName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody class="border">
    @foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
          @Html.DisplayFor(modleItem => item.Address)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.PersonId" class="button black container margin">Edit</a> |
          <a asp-action="Delete" asp-route-id="@item.PersonId" class="button black container margin">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
